body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* rahul start */
.collection-container p{
  transition: all .3s;
}
.collection-container img{
  transition: all .3s;
  filter: contrast(70%);
}
.collection-container img:hover,.collection-container p{
  /* background-color: green; */
  border: 3px solid transparent;
  filter: grayscale(20%);
}

.sideBarContent p:hover,.footer-links p:hover{
color: #ffffffb3;
}
.footer-links p:hover{
  text-decoration: underline;
}


@media screen and (max-width: 1000px) {
  .hotel-details-right-part{
    display: none;
  }
}


/* rahul work finished */